# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-wild-glitter-am51hp0v.c-5.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_u5ky9OLEztFh

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_u5ky9OLEztFh
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_u5ky9OLEztFh@ep-wild-glitter-am51hp0v-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require


# it init
 git add .
 git commit -m "solve this error" 
 git branch -M main    
    git push origin main
